@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'alienleague';
	src: local('AlienLeague'), url('/fonts/alienleague.ttf') format('truetype');
}

@font-face {
	font-family: 'alienleaguebold';
	src: local('AlienLeagueBold'), url('/fonts/alienleaguebold.ttf') format('ttf');
}

@font-face {
	font-family: 'alienleaguegrad';
	src: local('AlienLeagueGradient'), url('/fonts/alienleaguegrad.ttf') format('ttf');
}

@font-face {
	font-family: 'alienleaguegradbold';
	src: local('AlienLeagueGradientBold'), url('/fonts/alienleaguegradbold.ttf') format('ttf');
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(15, 15, 15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(56, 72, 100);
}
